# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.6/en/server-configuration-defaults.html
######################################################################
[client]
##password	= your_password
port		= 3306
socket		= /tmp/mysql.sock
#
[mysqld]
port		= 3306
socket		= /tmp/mysql.sock
skip-external-locking
key_buffer_size = 256M
max_allowed_packet = 1M
table_open_cache = 256
sort_buffer_size = 1M
read_buffer_size = 1M
read_rnd_buffer_size = 4M
myisam_sort_buffer_size = 64M
thread_cache_size = 128
query_cache_size= 256M
## Try number of CPU's*2 for thread_concurrency
thread_concurrency = 4
######################################################################
# Point the following paths to different dedicated disks
tmpdir		= /tmp/
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M

# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin

# These are commonly set, remove the # and set as required.
# basedir = .....
# datadir = .....
# port = .....
# server_id = .....
# socket = .....

# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M 

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 

######################################################################
#
default-storage-engine = innodb
innodb_file_per_table = 1
## You can set .._buffer_pool_size up to 50 - 80 %
## of RAM but beware of setting memory usage too high
innodb_buffer_pool_size = 1024M
innodb_additional_mem_pool_size = 8M
## Set .._log_file_size to 25 % of buffer pool size
innodb_log_file_size = 100M
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 50
#
[mysqldump]
quick
quote-names
max_allowed_packet = 256M
#
[mysql]
prompt = MySQL56-Server > \   ## MySQL Prompt
no-auto-rehash
max_allowed_packet = 256M
#
[isamchk]
key_buffer = 32M
sort_buffer_size = 16M
read_buffer = 1M
write_buffer = 1M
#
[myisamchk]
key_buffer = 32M
sort_buffer_size = 16M
read_buffer = 1M
write_buffer = 1M
#
[mysqlhotcopy]
interactive-timeout
#
######################################################################