html, body {
	margin-top: 0px 0px 0px 0px;
	font-size: 13px;
	font-family: Tahoma;
	overflow: hidden;
}
.header {
	color: #ff9900;
	font-weight: bold;
}
.pipe {
	color: #000000;
	font-weight: bold;
}
a, a:visited {
	color: #000;
	text-decoration: none;
	line-height: 24px;
}
a:hover {
	color: #000;
	border-bottom: 1px dashed #ff9900;
	line-height: 24px;
}
#topwelcome {
        text-align:center;
}
#welcome {
        padding-right: 0px;
	text-align: right;

}
#footer {
        width: 100% !important;
        width: 751px;
        padding-left: 10px;
        text-align: left;
}

.clear{
	clear:both; 
	height:0; 
	line-height:0
}
#wrapper {
	width: 100%;
	text-align: center;
}
#content {
	background: url(../images/buu.png) center top no-repeat;
	width: 100% !important;
	width: 751px;
	height: 280px;
}
#content { behavior: url(../script/iepngfix.htc); }
#content #login {
	position:relative;
	padding-left: 138px;
	padding-top: 142px;
	
} 
#content #login input{
	font-family: Verdana;
	padding-left: 5px;
	width: 150px;
	font-weight: bold;
	font-size: 11px;
	height: 24px;
	padding-top: 3px;
	margin-top: 7px;
} 
#content #login #imgsubmit {
	position:relative;
	margin-left: 0px;
	height: 10px;
	width: 15px;
}
#content #login #UserName {
	margin-right:21px !important; 
	margin-right:19px;
}
#content #login #message {
    color: #FFFFFF;
        height: 0px;
        margin-top: 15px;
        margin-left: -55px;
        position: absolute;
}
#TitleBox {
	margin-right:21px;
	width: 150px;
	color: #FFFFFF;
	font-weight: bold;

}
#TimeBox {
	margin-right:21px;
	width: 150px;

}
